<main class="main-content">
    <section class="section-content login bg-skyblue-login">
       <div class="wrapper">
    
          <div class="register text-center" style="margin-top: 65px;">

<h2>Change your password</h2>
<div class="container">
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <ul>
  <li>
    <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
  </li>
  <li>
    <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
  </li>
  </ul>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Change my password" %>
  </div>
<% end %>
</div>

</div>
</div>
</section>
</main>
