<main class="main-content">
    <section class="section-content login bg-skyblue-login">
       <div class="wrapper">
       		<div class="form-login text-center">
       			<h2>Log In</h2>
       				
	       		  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

	       		  <div class="container">
                    <ul>
                    <%- flash.each do |name, msg| -%>
			          <%= content_tag :div, msg, id: "flash_#{name}" %>
			        <%- end -%>
                        <li>
                            <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "Email"%>
                        </li>

                        <li>
                            <%= f.input :password, required: false, label: false, placeholder: "Password" %>
                        </li>
                        <li>
                            <%= f.button :submit, "Log in", class: "btn login" %>
                        </li>
                        <li>
                            <div class="fLeft">
                               <%= link_to "Forgot Password?", new_user_password_path, :class => "forgot-password-link", method: :get %>
                            </div>
                            <div class="fRight">
                                <p><a href="/users/sign_up"><span>Sign up</span> now</a></p>
                            </div>
                            

                            <div class="clear"></div>
                        </li>
			          
                    </ul>
                </div>

				<div class="or"></div>
                <div class="container">
                    <ul class="login-with">
                        <li>
                            <!--<a id="sign_in" href="/auth/facebook">
                    			<i class="icon facebook"></i> Log In with Facebook 
                    		</a>-->

                            <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>

                        </li>
                        <li>
                           <!-- <a id="sign_in" href="/auth/google_oauth2">
		                    	<i class="icon google"></i>	Sign in with Google
		                    </a>-->
                            <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
                        </li>
                    </ul>
                </div>

				<% end %>
					
       		</div>
		</div>
	</section>
</main>