<h2>Edit Info</h2>

<%= simple_form_for @doctor do |f|%>
	<%= f.file_field :avatar %> 
	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :specialty %>
	<%= f.input :license_number%>
	<%= f.input :mobile_number%>
	<%= f.input :zipcode %>
	<%= f.input :email%>
	<%= f.input :city%>
	<%= f.input :education %>
	<%= f.input :hospital_affiliations %>
	<%= f.input :language_spoken %>
	<%= f.input :in_network_insurance %>
	<%= f.input :certification %>
	<%= f.input :proffesional_membership %>
	<%= f.input :proffesional_statement %>
	<%= f.input :status %>


	<%= f.button :submit %>
<% end %>