<section class="section-content body bg-body-doctor">
	<div class="wrapper">

		<!-- Appointment -->
		<div class="page-header">
			<ul>
				<li><p class="clock-icon"></p></li>
				<li><a class="appointment-link" id="appointment-doctor" href=#>Schedule of Appointments</a></li>
				<li><p class="setting-icon"></p></li>
				<li><a class="appointment-link" id="profile" href=#>Profile</a></li>
				
			</ul>
			<hr></hr>
			<br>

		</div>
		
		<div id="appointment"><%= render 'doctors/appointment' %> </div>
		

	</div>
</section>



<!-- Start Styles. Move the 'style' tags and everything between them to between the 'head' tags -->
<style type="text/css">

/* Page Nav */
.page-header ul {
	margin-left: 4%;
}
.page-header ul li{
	display: inline-block;
	vertical-align: middle;
}
.settings-doctor-container ul li{
	display: inline-block;
	vertical-align: middle;
}

.page-header hr {
	background-color: #c3c4c4;
    height: 3px;
    margin-top: 10px;
}

/* Appointment */
.appointment-doctor{
	margin-top: 20px;
}
.setting-link{
	color: #000; 
	font-weight: 700; 
	font-size: 15px;
}
.appointment-link{
	color: #00aeef;
	font-weight: 700; 
	font-size: 15px;
	padding-right: 40px;
}

/* Appointment Table*/
.myTable { background-color:#eee;border-collapse:collapse; width: 100%; }
.myTable th { background-color:#000;color:white;}
.myTable td, .myTable th { 
	padding: 10px;
	border: 1px solid #f1f1f1;
 }
.myTable td {color: #000;}
.ID{width:4%;}
.bg-body-doctor {
	background-color: #ebebeb;
}

/* Profile */

.settings-doctor{
	display: none;
}

.settings-doctor h3{
	color: #000;
	font-weight: 700;
	font-size: 15px;
	margin-bottom: 15px;
}
.settings-doctor{
	background-color: #e3e3e3;
	padding: 16px 16px;
}



.settings-doctor p {
	color: #000;
	font-weight: 700;
}

.field-content{
	background-color: #fff;
    border: solid 1px;
    color: #9fa1a2;
    padding: 3px 3px;
}


</style>
