<center><div class="pagination">
	<div class="link_my">
  <a href="../jakartas">Jakarta Barat</a>
  <a href="show2">Jakarta Pusat</a>
  <a href="show3">Jakarta Selatan</a>
  <a href="show4">Jakarta Timur</a>
  <a href="show5">Jakarata Utara</a>
  </div>
</div></center>