/*-- Fonts --*/


@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: font_url('Montserrat/Montserrat-ExtraBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: font_url('Merriweather/Merriweather-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Black';
    src: font_url('Montserrat/Montserrat-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: font_url('Montserrat/Montserrat-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'fontello';
  src: asset-url('fontello/fontello.eot?22473283');
  src: asset-url('fontello/fontello.eot?22473283#iefix') format('embedded-opentype'),
       asset-url('fontello/fontello.woff2?22473283') format('woff2'),
       asset-url('fontello/fontello.woff?22473283') format('woff'),
       asset-url('fontello/fontello.ttf?22473283') format('truetype'),
       asset-url('fontello/fontello.svg?22473283#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}