/*
Theme Name: 
Theme URI: 
Description: 
Version: 1.0
Author: Jump Digital Inc.
*/

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

@font-face {
  font-family: 'Font Awesome';
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/fontawesome-webfont.woff') format('woff'),
  url('fonts/fontawesome-webfont.ttf')  format('truetype'),
  url('fonts/fontawesome-webfont.svg#Font Awesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

a { display: inline-block; }
button { display: inline-block; }

img { max-width: 100%; height: auto; }

.body-wrapper { position: relative; overflow: hidden;}

.wrapper { max-width: 1008px; margin: 0 auto; padding: 0 14px;}


/* Tabs */
.tab-content {
	display: none;
	background-color: #fff;
	padding: 14px;
}

.tab-content.active { display: block; }

/* Actions */
.actions { margin: 14px 0; }

.actions li,
.form-book-doctor li {
	margin-bottom: 14px;
}
.actions li:last-child,
.form-book-doctor li:last-child {
	margin-bottom: 0;
}

/* Sidebar Tab */
.sidebar-tab .ratings .icon{
	background-size: 25px;
	width: 25px;
	height: 25px;
}

.sidebar-tab .ratings li {
	width: 25px;
	margin: 2px;
}

.sidebar-tab > li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 124px;
	background-color: #e1e1e1;
	text-align: center;
	border-bottom: #cccccc 2px solid;
}

.sidebar-tab > li:last-child,
.about > li:last-child,
.schedule .time li:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.sidebar-tab > li a {
	font-size: 14px;
	color: #7d7d7d;
}

.sidebar-tab > li a.active,
.sidebar-tab > li a:hover { color: #00aeef; }

#dosomething {
	background-color: #8dc63f;
}

#dosomething:hover { background-color: #00aeef; }

/* Section-Content */

/* Background */

/* Schedule Slider 
.schedule-slider {
	position: relative;
	max-width: 616px;
	padding: 0 25px;
	margin: 0 auto;
	padding-top: 48px;
}

.schedule-slider > ul { font-size: 0; }

.schedule-slider > ul > li {
	display: inline-block;
	width: 20%;
}

.date,
.time li {
	min-height: 50px;
}

.time li { padding: 10px; }

.date {
	border-bottom: #cecece 1px solid;
	margin-bottom: 12px;
}

.date h3,
.date span {
	display: block !important;
	font-size: 18px !important;
}

.date h3 { margin-bottom: 8px; }

.date,
.time li a {
	min-width: 100%;
	text-align: center;
	padding: 15px 0;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.time li a {
	background-color: #fff04b;
	font-size: 14px;
	color: #00234b;
}

.time li a:hover {
	background-color: #00234b;
	color: #fff;
}

.time li button {
	min-width: 100%;
	text-align: center;
	padding: 15px 0;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.time li button {
	background-color: #fff04b;
	font-size: 14px;
	color: #00234b;
}

.time li button:hover {
	background-color: #00234b;
	color: #fff;
}

.slick-arrow {
	position: absolute;
	top: 25px;
	width: 25px;
	height: 25px;
	background-color: #fff;
	border: #cecece 1px solid;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.slick-arrow:hover {
	background-color: #00234b;
	border-color: #00234b;
}

.slick-prev { left: -25px; }
.slick-next { right: -25px; }

.slick-prev:before,
.slick-next:before {
	position: absolute;
	top: 3px;
	font-family: 'Font Awesome';
	font-size: 18px;
	color: #00234b;
}

.slick-prev:before {
	content: "\f0d9";
	left: 7px;
}

.slick-next:before {
	content: "\f0da";
	right: 7px;
}

.slick-arrow:hover:before,
.slick-next:hover:before {
	color: #fff;
}

/* UNIVERSAL */
.bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: center;
}

.clearfix { clear: both; }
.clear { *zoom: 1;}
.clear:before, 
.clear:after { content: " "; display: table;}
.clear:after { clear: both;}

.table { display: table; width: 100%; height: 100%;}

.row { display: table-row; font-size: 0;}

.cell { display: table-cell; vertical-align: middle;}

.text-center { text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right;}

/* Schedule */
.schedule h4 {
	color: #343434;
	margin-bottom: 2px;
}

.schedule {
    border-bottom: #d7d7d7 2px solid;
}

.schedule > li {
	display: inline-block;
	width: 20%;
}

.schedule .date {
	text-align: center;
	padding: 20px;
}

.schedule .date span {
	font-size: 14px;
	color: #7d7d7d;
}

.schedule .time {
	text-align: center;
	padding: 26px 0;
	border-top: #d7d7d7 2px solid;
}

.schedule .time button {
	min-width: 90px;
	background-color: #8dc63f;
	font-size: 14px;
	color: #fff;
	text-align: center;
	padding: 9px;
}

.schedule .time a:hover { background-color: #00aeef; }

.schedule .time li { margin-bottom: 10px; }

.schedule .slick-prev,
.schedule .slick-next {
	z-index: 24;
	position: absolute;
	top: 31px;
	width: 24px;
	height: 24px;
	background-color: #acacac;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.schedule .slick-prev { left: 0; }
.schedule .slick-next { right: 0; }

.schedule .slick-prev:hover,
.schedule .slick-next:hover,
.doctor-slider .slick-prev:hover,
.doctor-slider .slick-prev:hover { background-color: #8c8c8c; }

.schedule .slick-prev:before,
.schedule .slick-next:before {
	position: absolute;
	top: 3px;
	font-family: 'Font Awesome';
	font-size: 18px;
	color: #fff;
}

.schedule .slick-prev:before {
	content: '\f104';
	left: 8px;
}

.schedule .slick-next:before {
	content: '\f105';
	right: 7px;
}

/* Form Book Doctor */
.form-book-doctor { padding: 26px 0 0; }

.form-book-doctor .select:after { top: 15px; }

.form-book-doctor textarea { height: 120px; }

.form-book-doctor li:last-child { text-align: center; }

/* Contact Form 7 - Alert Msg */
div.wpcf7-response-output {
    line-height: 22px;
	padding: 15px;
	margin: 25px 0 0 !important;
}

div.wpcf7-mail-sent-ok {
    background-color: #dff0d8;
	font-size: 13px;
    color: #3c763d;
    border: #d6e9c6 1px solid;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

div.wpcf7-validation-errors {
    background-color: #f2dede;
	font-size: 13px;
    color: #a94442;
    border: #ebccd1 1px solid;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*@media only screen and (max-width: px) {

}