/*
Theme Name: Book-A-Doc
Theme URI: 
Description: 
Version: 1.0
Author: Jump Digital Inc.
*/

@import 'https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700|Montserrat:400,700';

@font-face {
  	font-family: 'Font Awesome';
  	src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  		 url('fonts/fontawesome-webfont.woff') format('woff'),
  		 url('fonts/fontawesome-webfont.ttf')  format('truetype'),
  		 url('fonts/fontawesome-webfont.svg#Font Awesome') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

body {
	font-family: 'Merriweather', serif;
	font-size: 12px;
}

a {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

button {
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

p { line-height: 24px; }

img { max-width: 100%; height: auto; }

input[type="checkbox"] {
	appearance: checkbox;
	-webkit-appearance: checkbox;
}

ul { font-size: 0; }

/* Form */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
select,
textarea,
label {
	font-family: 'Montserrat', sans-serif;
}
input[type="file"],
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
	background-color: #e1e3e1;
    width: 100%;
    height: 36px;
    font-size: 14px;
    color: #5a5a5a;
    padding: 0 20px;
    border: none;
}

textarea {
	height: initial;
	line-height: 22px;
	padding: 7px 20px;
}

label {
	display: block;
	font-size: 16px;
	color: #343434;
	margin-bottom: 6px;
}

.body-wrapper { position: relative; overflow: hidden;}

.wrapper { max-width: 980px; margin: 0 auto; padding: 0 14px;}

/* Headings */
h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

h1 {
	font-size: 56px;
	line-height: 70px;
}

h2 {
	font-size: 32px;
	line-height: 36px;
}

h2.filtered-by {
	color: #00aeef;
	margin-bottom: 30px;
}

h3 {
	font-size: 24px;
	line-height: 32px;
}

h4{
	font-size: 18px;
	line-height: 24px;
}

select {
	-webkit-appearance: menulist;
}

.body-wrapper { position: relative; overflow: hidden;}

.wrapper { max-width: 1008px; margin: 0 auto; padding: 0 14px;}

.wrapper42 { max-width: 1008px; margin: 0 auto; padding: 0 42px;}


.logo-bookadoc {
	display: inline-block;
	background: image_url("new-logo.png") no-repeat;
	background-size: 197px;
    width: 210px;
    height: 37px;
    margin-top: 9px;
}

/* Icon (LOGIN) */
.icon {
	display: inline-block;
	vertical-align: middle;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 26px;
	width: 26px;
	height: 26px;
}

.icon.facebook { background: image_url("icon/facebook.png"); }
.icon.google { background: image_url("icon/google.png"); }
.icon.star,
.icon.star-not-active {
	background: image_url("icon/star.png");
	background-size: 51px;
	width: 51px;
	height: 47px;
}

.icon.star-not-active { background: image_url("icon/star-disabled.png"); }

.icon.clock,
.icon.group,
.icon.arrow-up {
	background-size: 123px;
	width: 123px;
	height: 93px;
	margin: 22px 0;
}

.icon.clock { background: image_url("icon/clock.png"); }
.icon.group { background: image_url("icon/group.png"); }
.icon.arrow-up { background: image_url("icon/arrow-up.png"); }

/*-- Section-Conte8t --*/
.section-content { padding: 100px 0; }

.hide-opacity{
	opacity: -0.4;
    position: absolute;
}
/*-- Background --*/
.bg-banner {
	background: image_url("bg-banner.jpg") no-repeat;
	background-size: cover;
}

.bg-skyblue {
	background: image_url("bg-skyblue.jpg") no-repeat;
	background-size: cover;
}

/* Section-Content */
.section-content { padding: 100px 0; }

/* Background-color */
.bg-gray { background-color: #ebebeb; }
.bg-green { background-color: #82c341; }

/*--- Button ---*/
/* Btn */
.btn {
	min-width: 159px;
	font-family: 'Montserrat', sans-serif;
	background-color: transparent;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	padding: 16px 15px 13px;
	border: #fff 1px solid;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.btn.blue {
	background-color: #00aeef;
	color: #fff;
}

.btn:hover {
	background-color: #00aeef;
	border: #00aeef 1px solid;
}

.btn.join {
	background-color: inherit;
	border: #fff 1px solid;
}

.btn.find {
	font-weight: 900;
	background: #00aeef;
	padding: 17px 0 15px;
	border: none;
}

.btn.find:hover {
	background: #3abdee;
}

/*-- Main Nav --*/
.main-header {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(62, 60, 60, 0.7);
	padding: 18px 0 17px;
	width: 100%;
}

.main-nav ul {
	font-size: 0;
}

.main-nav ul li {	
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #fff;
}

.main-nav ul li:not(:first-child) a {
	font-weight: 700;
	color: inherit;
	text-transform: uppercase;
	padding: 0 12px;
}

.main-nav ul li:first-child a {
	color: #fff;
	letter-spacing: initial;
	text-transform: initial;
	margin-right: 25px;
}

/*-- Footer --*/
.main-footer { color: #848484; }
.main-footer span { margin-left: -30px; }
.footer-nav {
	margin-bottom: 30px;
}

.footer-nav ul {
	font-size: 0;
}

.footer-nav ul li {
	display: inline-block;
	vertical-align: middle;
	padding-right: 28px;
}

.footer-nav ul li a {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #848484;
	font-weight: 900;
	text-transform: uppercase;

}

.footer-nav ul li:nth-child(3) .logo-bookadoc {
	margin: 0 43px;
}

/* Half Content */
.half-content-left,
.half-content-right {
	width: 50%;
}

.half-content-left {
	float: left;
	padding-right: 14px;
}

.half-content-right {
	float: right;
	padding-left: 14px;
}



/* Banner */
.banner { padding: 120px 0 77px;}
.banner.home { padding: 22% 0 12%; }
.banner.no-form { padding: 185px 0 115px; }

.banner p {
	max-width: 350px;
	color: #fff;
	margin: 0 auto;
}

.banner p:first-of-type {
	margin-top: 9px;
}

/*--- Form ---*/
.form-find {
	margin-top: 40px;
}

.form-find input[type="text"],
.form-find select, .form-filter select{
	vertical-align: middle;
	height: 54px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #a1a1a1;
	padding: 0 28px;
	box-shadow: 0px 2px 5px #313131;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.form-find select:first-of-type { min-width: 196px; margin: 0 26px; }
.form-find select:last-of-type { min-width: 252px; margin-right: 21px;}


/* Form Find Doctor */
.form-find-doctor { margin-top: 36px; }

.form-find-doctor li {
	display: inline-block;
	vertical-align: text-bottom;
	margin: 0 14px;
}

.form-find-doctor input[type="text"],
.form-find-doctor select {
	height: 60px;
	background-color: #f0f0f0;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #a1a1a1;
	padding: 0 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-box-shadow: 1px 6px 26px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 6px 26px -4px rgba(0,0,0,0.75);
	box-shadow: 1px 6px 26px -4px rgba(0,0,0,0.75);
}

.form-find-doctor .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	background-color: #0390c5;
	padding: 0 15px;
	border: #0390c5 1px solid;
}

.form-find-doctor li:first-child { margin-left: 0; }
.form-find-doctor li:last-child { margin-right: 0; }

.form-find-doctor li:nth-child(1) input,
.form-find-doctor li:nth-child(1) select,
.form-find-doctor li:nth-child(3) input,
.form-find-doctor li:nth-child(3) select {
	width: 252px;
}

.form-find-doctor li:nth-child(2) input,
.form-find-doctor li:nth-child(2) select {
	width: 196px;
}

/* Ads */
.ads { margin-top: 48px; }

.ads p {
	max-width: 300px;
	color: #fff;
	margin: 0 auto 28px;
}

.ads.about-us h3 { margin-bottom: 7px; }

.ads.about-us p {
	max-width: 340px;
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 0;
}

.ads.about-us .col-3 { margin-top: 59px; }


/*-- Booking --*/
/*--- Form ---*/
.booking {
	margin-top: 40px;
}

.booking input[type="text"],
.booking select, .form-filter select{
	vertical-align: middle;
	height: 32px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #a1a1a1;
	padding: 0 28px;
	box-shadow: 0px 2px 5px #313131;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.booking select:first-of-type { min-width: 196px; margin: 0 26px; }
.booking select:last-of-type { min-width: 252px; margin-right: 21px;}

/*-- Convenience --*/
.convenience-content {
	margin-top: 60px;
}

.convenience-content p {
	max-width: 270px;
	margin: 0 auto;
	padding-bottom: 32px;
}

.convenience-content div:first-of-type {
	padding-left: 182px;
}

.convenience-content div:last-of-type {
	padding-left: 85px;
}

/*-- UNIVERSAL --*/
.clear { clear: both; }

.table { display: table; width: 100%; height: 100%;}

.row { display: table-row; font-size: 0;}

.cell { display: table-cell; vertical-align: middle;}

.text-center { text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right;}

.float-left { float: left; }
.float-right { float: right; }


/*--Doctor Directory(Global)*/

/*-- Doctor Directory(Section) -- */
.section-content.find-your-doctor { padding: 175px 0 85px; }
.section-content.doctor-directory { padding: 50px 0; }

/*--Doctor Directory(Find your Doctor section) -- */
.section-content.find-your-doctor h1 {
	max-width: initial;
	margin: initial;
}


/*-- Doctor Directory (Background) -- */
.doctor-directory { background: #f3f3f3; }
.bg-find-your-doctor {
	background: image_url("bg-directory-banner.jpg");
	background-size: cover;
}

.bg-side-bar {
	background: image_url("bg-side-bar.jpg");
	background-size: cover;
}

/*-- Doctor Directory (Button) */
.btn.doctor-info {
	background: initial;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	color: #00aeef;
	letter-spacing: 4px;
	min-width: 140px;
	padding: 11px 14px 10px 15px;
	border: 1px solid #00aeef;
	border-radius: 30px;
}

.btn.go {
	background: #00aeef;
	min-width: 140px;
	border: initial;
}

.btn.go:hover { background: #3abdee; }

.btn.view-more {
	background: initial;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #8dc63f;
	letter-spacing: 4px;
	min-width: 196px;
	padding: 16px 32px 14px 31px;
	border: 1px solid #8dc63f;
	border-radius: 30px;

}
/*-- Doctor Directory (Content)*/

.doctor-directory-content, .side-bar.join-now {
	word-wrap: break-word;
	float: left;
}

.doctor-directory-content {
	width: 67%;
	padding-right: 26px;
}

.content-list h3 {
	color: #343434;
	padding-bottom: 10px;
}

.content-list span {
	font-weight: 700;
	color: #848484;
	max-width: 252px;
	margin: 0 auto;
}

.content-list p {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #343434;
	line-height: 20px;
	padding: 22px 0 30px;
}

.content-list figure {
	width: 37%;
	float: left;
}

.content-list figure img { width: 100%; }

.content-list ul li {
	margin-bottom: 30px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px; 
	box-shadow: 0px 2px 1px #d5d0d0;
}

.content-list ul li:nth-child(even) div:first-of-type { background: #e1e1e1; }

.content-list ul li:last-of-type { margin-bottom: 50px; }

.content-list ul li div:first-of-type {
	width: 63%;
	float: left;
	text-align: left;
	background: #cecece;
	padding: 38px 0 22px 29px;
}


.content-list li div a:first-of-type { margin-right: 15px; }
.content-list li div a:last-of-type { margin-left: 15px; }

/*-- Doctor Directory (Side Bar)*/
.side-bar.join-now { width: 33%; }

.side-bar.join-now h2 {
	font-family: 'Montserrat',sans-serif;
	font-size: 52px;
	text-transform: uppercase;
	line-height: 68px;
	padding-bottom: 5px;
}

.side-bar.join-now h3 {
	font-family: 'Montserrat',sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
}

.join-now-content { padding: 364px 56px 400px; }


/*-- Doctor Directory (form)*/
.form-filter { margin: 30px 0 40px; }

.form-filter select {
	text-align: center;
	height: 45px;
	min-width: 250px;
	margin-bottom: 20px;
}
	
.form-filter select:last-of-type { margin-bottom: 30px; }


/*-- Log In (Background) --*/
.bg-track-your-health {
	background: image_url("bg-track-your-health.jpg") no-repeat;
	background-size: cover;
}

.bg-skyblue-login {
	background: image_url("bg-skyblue-login.jpg") no-repeat;
	background-size: cover;
}

/*-- Log In (Button) --*/
button {
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.btn.login {
	font-size: 16px;
	font-weight: 700;
	background: #8dc63f;
	text-transform: initial;
	letter-spacing: initial;
	min-width: 112px;
	padding: 14px 31px 13px 30px;
	border: none;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.btn.login-options {
	font-size: 14px;
	font-weight: 700;
	color: #1e1b1d;
	background: initial;
	text-transform: initial;
	letter-spacing: initial;
	min-width: 335px;
	padding: 7px 0 6px 10px;
	border: 1px solid #b2b5b6;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*-- Log In (Section Content) --*/
.section-content.track-your-health { padding: 131px 0 75px; }

.section-content.login { padding: 111px 0 100px; }


/*-- Log In (Banner Content) --*/
.track-your-health h1 { padding-bottom: 30px; }

.track-your-health p {
	font-family: 'Merriweather', serif;
	font-size: 12px;
}

/*-- Log In (Form-login) --*/
/* Form Login */
.form-login {
	max-width: 500px;
	width: 100%;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	padding: 26px 29px;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.form-login h2 {
	color: #2e3235;
	padding-bottom: 24px;
	border-bottom: #e2dfdd 2px solid;
}

.form-login a,
.form-login p {
	font-size: 12px;
	color: #2f3234;
	line-height: normal;
}

.form-login .fRight a { color: #00adef; }

.form-login .fLeft a:hover,
.form-login .fRight a:hover { text-decoration: underline; }

.form-login input[type="email"],
.form-login input[type="password"],
.form-login input[type="submit"],
.form-login input[type="text"] {
	width: 100%;
	height: 46px;
	font-size: 18px;
	color: #2e3235;
	padding: 0 25px;
	border: #e1e3e1 2px solid;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.form-login input[type="submit"] {
	background-color: #a7d36a;
	font-weight: 700;
	color: #fff;
	border: #a7d36a 2px solid;
}

.form-login .container {
	padding: 33px 0;
	max-width: 336px;
	margin: 0 auto;
}

.form-login li { margin-bottom: 0px; }
.form-login ul li:last-child { margin-bottom: 0; }

.form-login .login-with li a {
	display: block;
	font-size: 14px;
	font-weight: 700;
	color: #1e1b1d;
	text-align: left;
	border: #bec1c2 1px solid;
	padding: 6px 9px;
}

.form-login .or {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #e2dfdd;
}

.form-login .or:before {
	content: 'or';
	position: absolute;
	left: 50%;
	top: -9px;
	width: 34px;
	background-color: #fff;
	font-size: 18px;
	color: #b2b5b6;
	margin-left: -17px;
}

.form-login .icon {
	margin-right: 14px;
}


.side-bar {
	float: left;
	width: 100%;
	max-width: 252px;
	margin: 0 auto;
	word-wrap: break-word;
}
.side-bar span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #343434;
}


/*--  Registration --*/
.register {
	max-width: 500px;
	width: 100%;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	padding: 26px 29px;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.register h2 {
	color: #2e3235;
	padding-bottom: 24px;
	border-bottom: #e2dfdd 2px solid;
}

.register a{
	font-size: 12px;
	color: #2f3234;
	line-height: normal;
}

.register .fRight a { color: #00adef; }

.register .fLeft a:hover,
.register .fRight a:hover { text-decoration: underline; }

.register input[type="email"],
.register input[type="password"],
.register input[type="submit"],
.register input[type="text"] {
	width: 100%;
	height: 46px;
	font-size: 18px;
	color: #2e3235;
	padding: 0 25px;
	border: #e1e3e1 2px solid;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.register input[type="submit"] {
	background-color: #a7d36a;
	font-weight: 700;
	color: #fff;
	border: #a7d36a 2px solid;
}

.register .container {
	padding: 33px 0;
	max-width: 336px;
	margin: 0 auto;
}

.register li { margin-bottom: 9px; }
.register ul li:last-child { margin-bottom: 0; }

.register .login-with li a {
	display: block;
	font-size: 14px;
	font-weight: 700;
	color: #1e1b1d;
	text-align: left;
	border: #bec1c2 1px solid;
	padding: 6px 9px;
}

.register .or {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #e2dfdd;
}

.register .or:before {
	content: 'or';
	position: absolute;
	left: 50%;
	top: -9px;
	width: 34px;
	background-color: #fff;
	font-size: 18px;
	color: #b2b5b6;
	margin-left: -17px;
}

.register .icon {
	margin-right: 14px;
}
/*-- Doctor's Profile(Section Content) --*/
.section-content.looking-for { padding: 131px 0 81px; }
.section-content.doctor-profile { padding: 35px 0 100px; }

/*-- Doctor's Profile(Background) --*/
.bg-looking-for {
	background: image_url("bg-looking-for.jpg") no-repeat;
	background-size: cover;
}

.section-content.doctor-profile { background: #ebebeb; }


/*-- Doctor's Profile (Button) --*/

.btn.doctor-contact {
	font-size: 12px;
	font-weight: 700;
	color: #00aeef;
	text-align: center;
	letter-spacing: 2px;
	background: none;
	min-width: 80px;
	padding: 5px 0 6px;
	border: 2px solid #00aeef;
	border-radius: 30px;
}

.btn.book-now {
	font-size: 12px;
	color: #8dc63f;
	text-align: center;
	min-width: 140px;
	padding: 11px 30px 12px;
	border: 2px solid #8dc63f;
	border-radius: 30px;

}

.btn.book-now:hover { background: initial; }

/*-- Doctor's Profile (Banner) --*/
.looking-for h1 { padding-bottom: 20px; }

/*-- Doctor's Profile (Content) --*/
.side-bar.doctor-profile {
	width: 28%;
	padding-right: 14px;

}

.profile-info {
	float: left;
	width: 75%;
	max-width: 672px;
	margin: 0 auto;
	padding-left: 14px;
	word-wrap: break-word;
}

.side-bar.doctor-profile div:first-of-type { padding: 25px 0; }

.side-bar.doctor-profile div:first-of-type a { margin: 0 13px; }

.side-bar.doctor-profile div:last-of-type { background: #e1e1e1; }

.side-bar.doctor-profile div:last-of-type ul li {
	padding: 44px 0 40px;
	border-bottom: 2px solid #cccccc;
}

.side-bar.doctor-profile div:last-of-type ul li:last-child { border-bottom: none; }

.side-bar.doctor-profile div:last-of-type ul li a{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #949494;
}

.side-bar.doctor-profile div:last-of-type ul li a:hover { color: #00aeef; }
.side-bar.doctor-profile span {
	font-size: 22px;
	color: #00aeef;
	letter-spacing: 2px;
}

.side-bar.doctor-profile div:last-of-type ul li:first-child a {
	display: block;
	padding-bottom: 7px;
}

/*-- Doctor Profile (Profile info) --*/
/*--.profile-info div:first-of-type { padding-bottom: 65px; }--*/
.profile-info h4 {
	font-size: 32px;
	padding-bottom: 10px;
}

.profile-info span {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: #00aeef;
	letter-spacing: 2px;
	padding-bottom: 10px;
	line-height: 30px;
}

.profile-info p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #343434;
	line-height: 40px;
}

.doctor-credentials {
	max-width: 670px;
	width: 100%;
	margin: 0 auto;
	background: #fff;
}

.doctor-credentials ul li {
	padding: 45px 0 45px 29px;
	border-bottom: 2px solid #d7d7d7;
}

.doctor-credentials ul li span{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #343434;
	padding-bottom: 17px;
}

.doctor-credentials ul li p{
	font-family: 'Merriweather', serif;
	font-size: 12px;
	text-align: left;
	color: #7d7d7d;
	max-width: 420px;
}


/*-- Appointment (Create Appointment) --*/
.form-login {
	font-family: 'Montserrat', sans-serif;
	background: #fff;
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	padding: 33px 0 58px;
	border-radius: 13px;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
	box-shadow: 0px 3px 4px #087fad;
}

.form-container {
	max-width: 336px;
	margin: 0 auto;
	padding: 30px 0 0;
	border-top: 1px solid #dddedf;
}

.form-login h2 {
	font-size: 32px;
	font-weight: 700;
	color: #2e3235;
	letter-spacing: 5px;
	padding-bottom: 26px;
}

.form-login form div:first-of-type div:first-of-type {
	font-size: 12px;
	font-weight: normal;
	color: #2f3234;
}

.form-login form div:first-of-type div:first-of-type a {
	display: block;
	text-align: left;
	padding: 8px 0;
}

.form-login form div:first-of-type div:first-of-type a:first-of-type { padding-top: 0; }

.form-login form div:first-of-type div a span { color: #00adef; }

.form-login form div:last-of-type a {
	text-align: left;
	margin: 7px 0;
}

.form-login form div:last-of-type img { padding-right: 20px; }

.form-login form div:last-of-type { border: none; }

.form-login form div:last-of-type div {
	width: 100%;
	height: 8px;
	border-bottom: 1px solid #dddedf;
	text-align: center;
}

.form-login form div:last-of-type div span {
	font-size: 16px;
	color: #b2b5b6;
	background: #fff;
	padding: 0 10px;

} 

.form-login form div:last-of-type div { margin-bottom: 30px; }	

.form-login input[type="email"],
.form-login input[type="password"] {
	font-size: 18px;
	color: #2e3235;
	padding: 17px 0 16px 25px;
	min-width: 332px;
	border: 2px solid #dddedf;
	border-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 20px;
}


/* UNIVERSAL */
.col-3 {
	float: left;
	width: 33.33%;
	padding: 0 14px;
}

.bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.fLeft { float: left; }
.fRight { float: right; }

.clear { clear: both; }

.clearfix { *zoom: 1;}
.clearfix:before, 
.clearfix:after { content: " "; display: table;}
.clearfix:after { clear: both;}

.table { display: table; width: 100%; height: 100%;}

.row { display: table-row; font-size: 0;}

.cell { display: table-cell; vertical-align: middle;}

.text-center { text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right;}

/* Contact Form 7 - Alert Msg */
#flash_alert{
	font-size: 13px;
    color: #a94442;
  }
  #flash_notice{
    
	font-size: 13px;
    color: #3c763d;

  }

.alert-msg {
	font-family: 'Montserrat', sans-serif;
    line-height: 22px;
	padding: 15px;
	margin: 14px 0 0 !important;
}

.success {
    background-color: #8dc63f;
    color: #fff;
    font-size: 17px;
}

.fail {
    background-color: #f2dede;
	font-size: 13px;
    color: #a94442;
    border: #ebccd1 1px solid;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media only screen and (max-width: 988px) {
	.form-find-doctor {
		max-width: 500px;
		margin: 36px auto 0;
	}

	.form-find-doctor li {
		display: block;
		margin: 0 0 28px;
	}

	.form-find-doctor li:last-child { margin-bottom: 0; }

	.form-find-doctor input[type="text"],
	.form-find-doctor select {
		width: 100% !important;
	}

	.form-find-doctor .btn {
		width: 100%;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 900px) {
	.doctor-slider > ul {
		padding: 0 78px;
	}

	.doctor-slider .cell {
		display: block;
		width: 100% !important;
		padding: 0 !important;
	}

	.doctor-slider .cell:first-of-type {
		margin-bottom: 24px;
	}

	.doctor-slider figure {
		margin: 0 auto;
	}

	.doctor-slider h2,
	.doctor-slider p,
	.ratings {
		text-align: center;
	}
}


@media only screen and (max-width: 500px) {
	.doctor-slider > ul {
		padding: 0;
	}

	.doctor-slider .slick-prev,
	.doctor-slider .slick-next {
		display: none !important;
	}
}

@media only screen and (max-width: 420px) {
	.form-login {
		padding: 26px 14px;
	}

	.form-login .container:last-of-type { padding-bottom: 0; }
}


/*--Jakarta List (Background) --*/
.bg-directory-banner {
	background: image_url("bg-directory-banner.jpg") no-repeat;
	background-size: cover;
	width: 120%;
	margin-left:-7%;
}

.section-content-jakarta{
	padding: 90px 0 90px;
}


.size-me {
	color:#2065d6;
	font-size: 15px;
}

.link_my a:hover{
font-weight:bold;
font-size: 20px;
}




/*-- Article List (Background) --*/
.bg-healthier-lifestyle {
	background: image_url("bg-healthier-lifestyle.jpg") no-repeat;
	background-size: cover;
}

.article-list { background: #ebebeb; }


/*- Article List (Banner) --*/
.healthier-lifestyle h1 { padding-bottom: 15px; }
.healthier-lifestyle span {
	font-family: 'Merriweather', serif;
	font-size: 12px;
	color: #fff;
	line-height: 24px;
	max-width: 200px;
	margin: 0 auto;
}

/*-- Article List (Content) --*/

.article-list label {
	display: inline;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	min-width: 112px;
	background: #8dc63f;
	padding: 11px 40px 12px 43px;
}

.article-list h2 {
	display: block;
	color: #00aeef;
	padding-bottom: 40px;
	margin: initial;
}

.article-list-content { 
	float: left;
	text-align: left;
	word-break: break-all;
	width: 58%;
	padding-right: 25px;
}

.article-list-content ul li figure, .side-bar.article-list div figure {
	padding-bottom: 16px;
}

.article-list-content ul li figure img, .side-bar.article-list div figure img {
	padding-top: 13px;
}

.article-list-content ul li span, .side-bar.article-list div:first-child span {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #c6c6c6;
}

.article-list-content ul li h2 { 
	font-size: 24px;
	color: #1b1b1b;
	padding: 16px 0;
	margin: initial;

}

.article-list-content ul li {
	padding: 40px 0;
	margin: 40px 0;
}

.article-list-content ul li:first-child {
	position: relative;
	padding-top: 0;
	margin-top: 0;
}

.article-list-content ul:first-child li:before {
    content: "";
    position: absolute;
    left: 17%;
    bottom: 0;
    height: 1px;
    width: 60%;
    border-bottom: 1px solid #cecece;
}

.article-list-content ul li p { 
	font-family: 'Merriweather', serif;
	font-size: 12px;
	color: #1b1b1b;
	max-width: 500px;
}

.article-list-content ul li a {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #8dc63f;
}

.article-list-content > div > a:first-child { padding-right: 20px; }

.article-list-content > div > a:last-child { padding-left: 20px; }

.article-list-content > div > a:first-child:before {
	font-family: 'Font Awesome';
	font-size: 20px;
	font-weight: normal;
	vertical-align: middle;
	content: "\f053";
	padding: 11px 16px;
}

.article-list-content > div > a:last-child:after {
	font-family: 'Font Awesome';
	font-size: 20px;
	font-weight: normal;
	vertical-align: middle;
	content: "\f054";
	padding: 11px 16px;
}

.side-bar.article-list label { background: #00aeef; }

.side-bar.article-list {
	width: 42%;
	max-width: initial;
	padding-left: 25px;
}

.side-bar.article-list h2 {
	font-size: 24px;
	font-weight: 700;
	color: #1b1b1b;
	line-height: 35px;
	padding: 16px 0;
	margin: initial;
}

/*-- Article list (Button) --*/
.btn.article-list {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #1b1b1b;
	text-transform: initial;
	letter-spacing: 2px;
	background: #fff;
	min-width: 112px;
	padding: 15px 0 16px 0;
	border: none;
	margin: 0 14px;
	border-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

}

/*-- Article Single (Section Content) --*/
.section-content.article-single { padding: 60px 0 70px; }

/*-- Article Single (Background) --*/
.article-single { background: #ebebeb; }

/*-- Article Single (Button) --*/
.btn.post {
	min-width: 96px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
	background: #00aeef;
	padding: 12px 31px 13px 32px;
	border: none;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.btn.back-to-top {
	font-family: 'Merriweather', serif;
	font-size: 12px;
	font-weight: 700;
	color: #1b1b1b;
	letter-spacing: 1px;
	text-transform: initial;
	background: #fff;
	padding: 13px 32px;
	border: none;
	border-radius: 5px;
}

/*-- Article Singe (Article-single-Content) --*/
.article-single-content {
	width: 58%;
	float: left;
	word-wrap: break-word;
	padding-right: 25px;
}

.article-single-content h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	color: #1b1b1b;
	line-height: 45px;
	padding: 27px 0;
	margin: initial;

}

.article-single-content label, .side-bar.article-single label {
	display: inline;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	min-width: 112px;
	background: #00aeef;
	padding: 11px 40px 12px 43px;
}

.article-content > div:first-of-type {
	padding-right: 28px;
}

.article-plugins i {
	border-radius: 30px;
	padding: 8px;
	background: #777776;
}

/*-- Article Single (Author) --*/

.author { margin-bottom: 30px; }
.author > img {
	padding-right: 10px;
}
.author div > label {
	display: block;
	color: #636363;
	line-height: 15px;
	text-transform: initial;
	min-width: initial;
	background: initial;
	padding: initial;
}

.author div > span { color: #c2c2c2; }


/*-- Article Single (Article Content) --*/

.article-content {
	position: relative;
	padding-bottom: 40px;
	margin-bottom: 45px;
}

.article-content:before, .comment-list:before{
    content: "";
    position: absolute;
    left: 10%;
    bottom: 0;
    height: 1px;
    width: 85%;
    border-bottom: 1px solid #cecece;
}

.article-content p {
	font-family: 'Merriweather', serif;
	font-size: 12px;
	color: #111111;
	max-width: 440px;
	padding: 32px 0;
	margin: 0 auto;
}

/*-- Article Content (Author-info) --*/
.author-info {
	background: #d7d7d7;
	max-width: 308px;
	margin: 0 auto;
	padding: 20px 15px 22px 14px;
}

.author-info label {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #00aeef;
	text-transform: initial;
	line-height: 30px;	
	background: initial;
	min-width: initial;
	padding: initial;
}

.author-info > div > span {
	font-weight: 700;
	color: #1b1b1b;
}

.author-info > div > span:last-of-type {
	font-weight: 700;
	color: #00aeef;
}

.author-info > div > span > i {
	color: #959595;
	padding-right: 4px;
}

/*-- Article Content (Form-comment) --*/
.form-comment form textarea {
	font-family: 'Merriweather', serif;
	color: #acacac;
	height: 65px;
	min-width: 466px;
	padding: 16px 0 18px 17px;
	margin: 0 5px 10px 0;
	border-radius: 7px;
	resize: none;
}


/*-- Article Content (Comment Details) --*/
.comment-details {
	width: 100%;
	margin-bottom: 37px;
}

.comment-details figure { float: left; }

.comment-details table {
	float: left;
	vertical-align: middle;
	max-height: 28px;
	height: 100%;
	margin-left: 11px;
}

.comment-details table td {
	width: 100%;
	height: 28px;
}

.comment-details table span {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #c2c2c2;
	padding: 3px 0;
}

.comment-details table small {
	font-size: 12px;
	color: #cbcbcb;
}

.comment-details p {
	font-family: 'Merriweather', serif;
	font-size: 12px;
	color: #1b1b1b;
	margin: 5px 0 0 40px;
}

/*-- Article Content (Comment List) --*/
.comment-list {
	position: relative;
	padding: 37px 0 70px;
	margin-bottom: 50px
}


/*-- Article Content (Side Bar) --*/

.side-bar.article-single {
	max-width: none;
	width: 42%;
	padding-left: 25px;
}

.side-bar.article-single > div {
	padding: 22px 0 50px;	
}

.side-bar.article-single > div > span {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #c6c6c6;
}

.side-bar.article-single h3 {
	color: #1b1b1b;
	line-height: 32px;
	padding-top: 10px;
}

.side-bar.article-single div:first-child > ul {
	font-size: 0;
	padding-bottom: 13px;
}

.article-single .slider-nav li {
	display: inline-block;
	float: left;
	width: 33.33%;
}

.article-single .slider-for li {
	width: 100%;
}

.related-article figure img { padding: 13px 0 13px; }

/*-- Most popular Activities --*/
.most-popular-articles { padding-top: 40px !important; }

.most-popular-articles ul li {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #1b1b1b;
	background: #fff;
	padding: 30px 33px 24px 22px;
	border-bottom: 1px solid #c2c2c2;
	border-left: 5px;
}

.most-popular-articles ul li a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #1b1b1b;
}

.most-popular-articles ul li a:hover { color: #00aeef; }

.most-popular-articles ul li:first-child { border-left: solid #8dc63f; }
.most-popular-articles ul li:nth-child(2) { border-left: solid #a4d165; }
.most-popular-articles ul li:nth-child(3) { border-left: solid #bbdd8c; }
.most-popular-articles ul li:nth-child(4) { border-left: solid #d1e8b2; }



/* Sidebar Tab */
.sidebar-tab .ratings .icon{
	background-size: 25px;
	width: 25px;
	height: 25px;
}

.sidebar-tab .ratings li {
	width: 25px;
	margin: 2px;
}

.sidebar-tab > li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 124px;
	background-color: #e1e1e1;
	text-align: center;
	border-bottom: #cccccc 2px solid;
}


.sidebar-tab > li:last-child,
.about > li:last-child,
.schedule .time li:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.sidebar-tab > li a {
	font-size: 14px;
	color: #7d7d7d;
}

.sidebar-tab > li a.active,
.sidebar-tab > li a:hover { color: #00aeef; }

/* about */

.about li {
	display: flex;
	align-items: center;
	min-height: 147px;
	padding: 29px;
	border-bottom: #d7d7d7 2px solid;
}

.about h4,
.schedule h4 {
	color: #343434;
	margin-bottom: 2px;
}

.about p {
	font-size: 12px;
	color: #7d7d7d;
}

/* credential */
.credential { background-color: #fff; }

.credential li {
	display: flex;
	align-items: center;
	min-height: 147px;
	padding: 29px;
	border-bottom: #d7d7d7 2px solid;
}

.credential h4,
.schedule h4 {
	color: #343434;
	margin-bottom: 2px;
}

.credential p {
	font-size: 12px;
	color: #7d7d7d;
}

/*-- About Us(Section Content) --*/

.section-content.help-improve-lives { padding: 210px 0 115px; }
.section-content.your-patients-help { padding: 75px 0 77px; }
.section-content.why-join { padding: 85px 0 77px; }
.section-content.got-questions { padding: 82px 0 115px; }

/*-- About Us(Background) --*/
.help-improve-lives{ background: #ebebeb; }
.got-questions { background: #82c341; }
.bg-your-patients-help {
	background: image_url("bg-your-patients-help.jpg") no-repeat;
	background-size: cover;
}

.bg-why-join {
	background: image_url("bg-skyblue-about-us.jpg") no-repeat;
	background-size: cover;
}

/*-- About Us(Help Improve Lives) --*/

.help-improve-lives h1 {
	color: #1e1b1d;
	max-width: 792px;
}

.help-improve-lives p {
	font-size: 24px;
	font-weight: 700;
	color: #1e1b1d;
	line-height: 45px;
	max-width: 424px;
	padding-bottom: 8px;
	margin: 0 auto;
}

/* About Us */
.about-banner h1,
.about-banner h3 {
	color: #000;
}

.about-banner h1 {
	margin-bottom: 16px;
}

.about-banner h3 {
	max-width: 430px;
	margin: 0 auto;
}

/* Doctor Slider */
.doctor-slider h1 { margin-bottom: 12px; }

.doctor-slider > ul {
	max-width: 816px;
	font-family: 'Montserrat', sans-serif;
	padding: 0 103px;
	margin: 54px auto 0;
}

.doctor-slider .cell:first-of-type { width: 225px; }
.doctor-slider .cell:last-of-type { padding-left: 24px; }

.doctor-slider figure {
	width: 225px;
	height: 225px;
}

.doctor-slider img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

.doctor-slider h2 { margin-bottom: 2px; }

.doctor-slider p {
	font-size: 18px;
	line-height: 32px;
}

.doctor-slider h2,
.doctor-slider p {
	color: #fff;
	text-align: left;
}

.ratings {
	text-align: left;
	margin-top: 6px;
}

.ratings li {
	display: inline-block;
	width: 51px;
	margin: 4px;
}

.ratings li:first-child { margin-left: 0; }
.ratings li:last-child { margin-right: 0; }

.doctor-slider .slick-prev,
.doctor-slider .slick-next {
    position: absolute;
    top: 50%;
	background-color: #acacac;
    display: block;
    width: 64px;
    height: 64px;
    cursor: pointer;
    color: transparent;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.doctor-slider .slick-prev { left: 0; }
.doctor-slider .slick-next { right: 0; }

.doctor-slider .slick-prev:before,
.doctor-slider .slick-next:before {
	position: absolute;
	top: 1px;
	font-family: 'Font Awesome';
	font-size: 60px;
	color: #fff;
}

.doctor-slider .slick-prev:before {
	content: '\f104';
	left: 19px;
}

.doctor-slider .slick-next:before {
	content: '\f105';
	right: 19px;
}

/* Got Questions */
.got-questions h1 { margin-bottom: 14px; }
.got-questions h3 { margin-bottom: 30px; }

/* Tabs */
.tab-content {
	display: none;
	background-color: #fff;
	padding: 14px;
}

.tab-content.active { display: block; }


