<main class="main-content">
    <section class="section-content login bg-skyblue-login">
       <div class="wrapper">

       <% if user_signed_in? %>
       		<div class="form-login text-center" style="margin-top: 41px;">
       			<h2 style="font-size: 23px;">Book an Appointment</h2>
       				
	       		  <%= simple_form_for @appointment do |f|%>
				  <div class="form-container form-inputs">
				  <div class="booking text-center">
					    <p style="font-size: 18px;">What's your Insurance?</p>
					    <%= f.select :insurance, [['Optima'], ['Maxicare'],['Intellicare']] %>
				  </div>
				  <div class="booking text-center">
					    <p style="font-size: 18px;color: #000;">Reason for visit</p>
					    <%= f.select :reason_for_visit, [['Eye Issue'], ['Lungs'],['Pregnant']] %>
				  </div>
				  
				  <div class="booking text-center">
				  <p style="font-size: 18px;color: #000;">New Patient?</p>
				  	<%= f.select :new_patient, [['Yes',1],['No',2]]%>
				  </div>

				  <div class="booking text-center">
				  <p style="font-size: 18px;color: #000;">Appointment Date</p>
				  	<%= f.text_field :appointment_datetime%>
				  </div>

				  <div class="booking text-center">
				  <p style="font-size: 18px;color: #000;">Doctor</p>
				  	<%= f.text_field :doctor_id%>
				  </div>  

				  <div class="booking text-center">
				  <p style="font-size: 18px;color: #000;">Patient Name</p>
				  	<%= f.text_field :patient_name %>
				  </div>

	                <div class="form-actions text-center" style="margin-top: 29px;">
				    	<%= f.button :submit, "Book Now", class: "btn login" %>
				  	</div>
					  <div class="clear"></div>
				  </div>
				  <div class="form-container">
                    
                 </div>

				<% end %>
					
       		</div>

       		<% else %>

       			<%= link_to 'Sign Up First', new_user_registration_path %>

       		<% end %>
		</div>
	</section>
</main>